name: build
on: [ "push", "pull_request" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
          matrix:
            python-version: [3.6, 3.7, 3.8, 3.9]
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: john591998
          MYSQL_DATABASE: django
        ports: [ '3306:3306' ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coveralls pylint pylint-django
          pip install -r department/requirements.txt
      - name: Run Migrations
        run: python */manage.py migrate
        env:
          DBENGINE: django.db.backends.mysql
          DBNAME: django
          DBUSER: root
          DBPASSWORD: john591998
          DBHOST: 127.0.0.1
          DBPORT: ${{ job.services.mysql.ports[3306] }}
      - name: Analysing the code with pylint
        run: |
          pylint --load-plugins=pylint_django --django-settings-module=department.settings department/department_app/
      - name: Coveralls
        run: |
          coverage run --source=department department/manage.py test department_app
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DBENGINE: django.db.backends.mysql
          DBUSER: root
          DBHOST: 127.0.0.1