name: build

on: [ "push", "pull_request" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
          matrix:
            python-version: [3.6, 3.7, 3.8, 3.9]
    env:
      DB_DATABASE: django
      DB_USER: root
      DB_PASSWORD: john591998

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coveralls pylint pylint-django
          pip install -r department/requirements.
      - name: Set up MySQL
        run: |
          sudo /etc/init.d/mysql status
          sudo /etc/init.d/mysql restart
          mysql -e 'CREATE DATABASE ${{ env.DB_DATABASE }};' -u${{ env.DB_USER }} -p${{ env.DB_PASSWORD }}
#      - name: Shutdown Ubuntu MySQL (SUDO)
#        run: sudo service mysql stop
#      - name: Set up MySQL
#        uses: mirromutth/mysql-action@v1.1
#        with:
##          host port: localhost # Optional, default value is 3306. The port of host
##          container port: 8080 # Optional, default value is 3306. The port of container
##          character set server: 'utf8' # Optional, default value is 'utf8mb4'. The '--character-set-server' option for mysqld
##          collation server: 'utf8_general_ci' # Optional, default value is 'utf8mb4_general_ci'. The '--collation-server' option for mysqld
##          mysql version: '8.0' # Optional, default value is "latest". The version of the MySQL
#          mysql database: 'django' # Optional, default value is "test". The specified database which will be create
##          mysql allow empty password: yes
#          mysql root password: 'john591998' # Required if "mysql user" is empty, default is empty. The root superuser password
#          mysql user: 'root' # Required if "mysql root password" is empty, default is empty. The superuser for the specified database. Can use secrets, too
##          mysql password: 'john591998' # Required if "mysql user" exists. The password for the "mysql user"

      - name: Analysing the code with pylint
        run: |
          pylint --load-plugins=pylint_django --django-settings-module=department.settings department/department_app/
      - name: Coveralls
        run: |
          coverage run --source=department department/manage.py test department_app
          coveralls --service=github

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}